section,
footer,
.projdiv {
    width: 100vw;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100vw;
}

body {
    font-family: 'Catamaran', sans-serif;
    width: 100vw;
    position: relative;
}

#logo {
    width: 150px;
    height: 70px;
    border-radius: 30%;
}

.top1 {
    width: 100vw;
    margin: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/images/wallpaper-1.jpg') no-repeat center;
    background-size: cover;
    background-color: black;
    background-attachment: fixed;
    background-position: 0 0;
    height: 100vh;
}

.top2 {
    width: 100vw;
    margin: 0;
    background: url('/images/wallpaper-2.jpg') no-repeat center;
    background-size: cover;
    background-color: black;
    background-position: 0 0;
    background-attachment: fixed;
    height: 100vh;
}

.top3 {
    width: 100vw;
    margin: 0;
    background: url('/images/wallpaper-3.jpg') no-repeat center;
    background-size: cover;
    background-position: 0 0;
    background-color: black;
    background-attachment: fixed;
    height: 100vh;
}

.carousel-indicators li {
    width: 12px;
    height: 8px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    visibility: hidden;
}

.navbar {
    display: block;
}

.nav-item {
    margin-right: 42px;
}

.collapse {
    margin-top: -40px;
    line-height: 0.5;
}

.navbar-brand {
    font-size: 2rem;
}

#testimonial-carousel {
    color: white;
}

#testimonial-carousel small {
    font-size: medium;
    font-family: 'Poppins', sans-serif;
}

.message {
    width: 50vw;
    margin-left: 400px;
    margin-top: 100px;
    line-height: 2em;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    margin-right: 25px;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: whitesmoke;
    background: linear-gradient(rgba(0, 0, 1, 1), rgba(0, 0, 1, 1));
    text-decoration: none;
    transform: scale(.9);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.842);
    -moz-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.842);
    box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.842);
    transition: 1.5 ease;
}

.btn {
    background: transparent;
    border: .3px solid whitesmoke;
    -webkit-border-radius: 40;
    -moz-border-radius: 40;
    border-radius: 40px;
    font-family: 'Catamaran', sans-serif;
    color: white;
    font-size: small;
    margin-top: 20px;
    margin-right: 25px;
    padding: 12px;
    ;
    text-decoration: none;
}

.btn-center {
    left: 50%;
}

.btn:hover {
    color: whitesmoke;
    background: linear-gradient(rgba(0, 0, 1, 1), rgba(0, 0, 1, 1));
    text-decoration: none;
    transform: scale(.9);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.842);
    -moz-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.842);
    box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.842);
    transition: 1.5 ease;
}

#home {
    height: auto;
    width: 100%;
    border: 1px solid darkgrey;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(13, 48, 94, 0.842);
    -moz-box-shadow: 0px 0px 4px 0px rgba(13, 48, 94, 0.842);
    box-shadow: 4px 0px 4px 0px rgba(13, 48, 94, 0.842);
    margin: 12px;
    padding: 12px;
    display: block;
    align-items: center;
    justify-content: center;
}

#home h1,
#home small {
    margin: 24px 24px 0px 24px;
    color: black;
    font-weight: bold;
}

#home .btn {
    color: black;
    border: .3px solid darkgrey;
    -webkit-border-radius: 40;
    -moz-border-radius: 40;
    border-radius: 40px;
    margin: 24px;
}

#home .btn-align {
    left: 20%;
}

#home .btn:hover {
    color: whitesmoke;
}

.col {
    padding: 6px;
    margin-left: 12px;
}

.cols {
    text-align: left;
}

#home .this {
    margin-top: 4px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: x-small;
}

.icon {
    color: black;
}

.icon:hover {
    color: darkgray;
}

.rowhome {
    /*margin-left: 200px;*/
    width: 100vw;
    text-align: center;
}

.rowpro {
    width: 100vw;
    text-align: center;
    height: 100%;
}

hr {
    margin-top: 30px;
    height: 1px;
    background-color: darkgray;
    border: none;
    width: 40%;
    color: #fff
}

#projects {
    height: auto;
    background: linear-gradient(246deg, rgba(29, 29, 80, 1), rgba(0, 126, 199, 1), rgba(29, 29, 80, 1));
}

#projects hr {
    margin-top: 8px;
    width: 42%;
}

#projects h1 {
    color: #fff;
    text-align: center;
}

#projects .task {
    width: 100%;
    height: 250px;
    margin-top: 30px;
    border-radius: 12px;
}

#project .btnp {
    font-size: smaller;
    background: transparent;
    color: white;
}

#project .btnp:hover {
    background: rgba(29, 29, 80, .5)
}

#projects small,
p {
    font-size: 0.5rem;
}

#projects h3 {
    margin-top: 20px;
    font-family: 'Catamaran', sans-serif;
    font-size: 1rem;
}

.first {
    text-align: left;
    padding: 15px;
    background-color: transparent;
    width: 100%;
    height: auto;
    color: white;
    display: inline-block;
}

.first:hover {
    background-color: black;
}

#pricing {
    text-align: center;
    margin-top: 40px;
}

#pricing h1 {
    text-align: center;
    color: black;
}

.price {
    color: rgba(0, 126, 199, 1);
}

#pricing h3 {
    font-size: 1rem;
}

#pp {
    box-shadow: 4px 4px 4px 4px rgba(38, 60, 107, 0.438);
    padding: 4px;
    margin: 4px;
    border-radius: 8%;
}

.btnprice {
    background: black;
    color: white;
    font-size: small;
    padding: 12px;
}

.btnprice:hover {
    background: rgba(38, 60, 107, 0.938);
    color: white;
}

.rowp {
    margin-left: 250px;
    font-size: 1rem;
}

.vertical {
    border-left: 3px outset lightgray;
    height: 260px;
    position: absolute;
    left: 580px;
}

.v {
    border-left: 3px outset lightgray;
    height: 260px;
    position: absolute;
    left: 5px;
}

#testimonial {
    height: 430px;
    background-color: #66235E
}

.colsb {
    padding-top: 20px;
}

.card {
    margin: 12px 12px;
    transition: .6s ease;
    border: 0;
    background: transparent;
    border-radius: 8%;
}

.card:hover {
    transform: scale(1.02);
}

.card-block {
    padding: 10px;
}

.card video {
    border-radius: 8%;
}

.scrollcards {
    background-color: transparent;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}

 ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

video:-webkit-full-page-media {
    margin-top: 0px;
    margin-bottom: 0px;
}

div.scrollcards .card {
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    height: auto;
    width: auto;
    background: transparent;
}

.crow {
    /* width:1462px;*/
    width: 100vw;
}

.card-text {
    font-size: 0.8rem;
}

iframe {
    border: 0;
}

@keyframes grad {
    0% {
        /*background:linear-gradient(246deg, rgba(29,29,80,1) , rgba(0,126,199,1),  rgba(29,29,80,1));*/
        background-position: 0% 50%;
    }
    50% {
        /*background:linear-gradient(246deg , rgba(0,126,199,1),  rgba(29,29,80,1), rgba(0,126,199,1));*/
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
        /*background:linear-gradient(246deg, rgba(29,29,80,1) , rgba(0,126,199,1),  rgba(29,29,80,1));*/
    }
}

#video {
    margin-top: 30px;
    color: white;
    /*background: linear-gradient(90deg, rgba(2,0,.6,1), rgba(9,9,121,1) ,rgba(20,90,190,1));*/
    background: linear-gradient(-45deg, rgba(29, 29, 80, 1), rgba(0, 126, 199, 1), rgba(29, 29, 80, 1));
    animation: grad 3s ease infinite alternate;
}

#video p {
    text-align: start;
}

#team {
    margin-top: 50px;
}

.container {
    width: 350px;
    border: 2px;
    justify-content: center;
    align-items: center;
    height: 300px;
}

#team img {
    border: 1px solid grey;
}

.imagebox {
    position: relative;
    width: 180px;
    height: 180px;
    border: 2px;
    /* overflow: hidden; */
    margin-left: 150px;
    border-radius: 10%;
}

.imagebox img {
    height: 100%;
    width: 100%;
    border-radius: 10%
}

.rowt {
    width: 100vw;
    margin-left: 100px;
}

.content {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    background-color: rgba(0, 126, 199, 1);
    opacity: 0;
    border-radius: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
}

.imagebox:hover .content {
    opacity: 0.5;
}

#team ul {
    list-style-type: none;
    display: inline;
    margin-left: 50px;
    line-height: 3.4;
    width: 120px;
    height: 100px;
    margin-top: 35%;
    letter-spacing: 7px;
    margin-right: 50px;
}

#team li {
    width: 30px;
    display: inline;
}

#team a {
    color: white;
}

#team a:hover {
    color: darkgray;
}

.textdiv {
    width: auto;
    margin-left: 210px;
    text-align: justify;
}

#team h6 {
    margin-top: 8px;
    text-decoration-line: underline;
}

#team small {
    color: rgba(0, 126, 199, 1);
}

#life .particle-network-animation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: #171717;
}

#life .particle-network-animation::before {
    z-index: -2;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    /*background-image: url('https://images.unsplash.com/photo-1450849608880-6f787542c88a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=786a67dca1d8791d181bfd90b16240d9');*/
    background-position: center center;
    background-size: cover;
    opacity: .2;
}

.glow {
    z-index: -1;
    /*position: fixed;*/
    top: 50%;
    left: 50%;
    background-image: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.225), transparent);
}

.glow-1 {
    width: 150vw;
    height: 150vh;
    margin-top: -75vh;
    margin-left: -75vw;
    animation: glow-1-move 25s linear infinite both;
}

@keyframes glow-1-move {
    from {
        transform: translate(-100%, 100%);
    }
    to {
        transform: translate(100%, -100%);
    }
}

.glow-2 {
    width: 100vw;
    height: 100vh;
    margin-top: -50vh;
    margin-left: -50vw;
    animation: glow-2-move 25s linear 8.3s infinite both;
}

@keyframes glow-2-move {
    from {
        transform: translate(-100%, 0%);
    }
    to {
        transform: translate(100%, 100%);
    }
}

.glow-3 {
    width: 120vw;
    height: 120vh;
    margin-top: -60vh;
    margin-left: -60vw;
    animation: glow-3-move 25s linear 16.6s infinite both;
}

@keyframes glow-3-move {
    from {
        transform: translate(100%, 100%);
    }
    to {
        transform: translate(0%, -100%);
    }
}

#life {
    padding: 20px;
    text-align: center;
    height: 570px;
    /*background-color: gainsboro;*/
    background-color: rgba(25, 25, 65, .95);
}

#life h1 {
    margin-left: 8%;
    position: absolute;
    z-index: 1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 22px;
    padding: 4px;
}

#images {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6%;
    position: absolute;
}

.fotorama img {
    position: absolute;
    width: 100%;
}

#newsletter {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/extra.jpg') no-repeat center;
    background-size: cover;
    background-position: 0%;
    height: 300px;
    padding-top: 5px;
    text-align: center;
}

#newsletter h1 {
    font-family: 'Catamaran', sans-serif;
    color: white;
    margin-top: 30px;
}

#newsletter input {
    width: 407.98058px;
    height: 45.98058px;
    border-radius: 1px rgb(25, 25, 65);
    border: 1px solid;
    margin-top: 50px;
    padding-left: 14px;
}

 :focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

.sign {
    background: #FCDA66;
    margin-top: 0;
    width: 100px;
    height: 45.98058px;
    color: black;
    border-radius: 1px;
    margin-bottom: 3px;
    position: relative;
    right: 5px;
}

.sign:hover {
    background: #66235E;
}

.sign2 {
    width: 100px;
    height: 45.98058px;
    border-radius: 1px;
    margin-top: 0;
    /*margin-left: 410px;*/
}

#blog {
    padding: 30px 150px;
    text-align: center;
}

#blog h1 {
    color: black;
}

#blog img {
    width: 300px;
    height: 200px;
    box-shadow: 4px 4px 4px 4px rgba(38, 60, 107, 0.438);
    padding: 4px;
    margin: 4px;
    border-radius: 8%;
}

.rowb {
    width: 100vw;
    margin-left: 0px;
    padding-top: 30px;
}

#blog p {
    padding-top: 20px;
    font: caption;
    font-weight: 600;
}

.btnblog {
    background: black;
    border: .3px solid whitesmoke;
    -webkit-border-radius: 40;
    -moz-border-radius: 40;
    border-radius: 40px;
    font-family: 'Catamaran', sans-serif;
    color: white;
    font-size: small;
    margin-top: 20px;
    margin-right: 25px;
    padding: 12px;
    ;
    text-decoration: none;
}

.btnblog:hover {
    color: whitesmoke;
    background: linear-gradient(rgba(0, 126, 199, 1), rgba(20, 20, 116, 1));
    text-decoration: none;
    transform: scale(.9);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.842);
    -moz-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.842);
    box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.842);
    transition: 1.5 ease;
}

#contact {
    text-align: left;
    width: 100vw;
    margin: 8px;
}

#contact img {
    width: 700px;
    height: 520px;
}

.ff {
    display: inline-block;
    margin-left: 24px;
    margin-bottom: 24px;
    margin-right: 24px;
    width: 100%;
}

.rowc {
    width: 100%;
    margin-left: 10px;
}

.colc {
    color: white;
    left: 250px;
    padding: 0;
    background-color: rgb(25, 25, 65);
}

#contact input,
textarea {
    border: 0;
    width: 400px;
}

#contact label {
    line-height: 3.2px;
    font-size: small;
}

.btnc {
    width: 371.990292px;
    border-radius: 5px;
}

.btnc:hover {
    background-color: rgba(65, 65, 160, 1);
}

.rowf {
    margin-left: 200px;
}

footer {
    margin-top: 70px;
    height: auto;
    text-align: center;
    color: white;
    background-color: rgb(20, 20, 116);
    align-items: center;
    justify-content: center;
}

footer p {
    line-height: 1;
    font-family: 'Roboto', sans-serif
}

.foot {
    margin-top: 25px;
    font-family: 'Noto Sans', sans-serif;
    font-size: large;
}
.footdiv p{
    font-size: small;
}

.footicons {
    color: white;
    margin-top: 35px;
    line-height: 3;
}

#footicons .icon {
    color: white;
    align-content: center;
}

#footicons .icon:hover {
    color: darkgray;
    align-content: center;
}

.i:hover {
    color: darkgray;
}

footer a {
    padding-left: 10px;
}

@media screen and (max-width:980px) {
    .navbar-brand {
        margin-left: 100px;
    }
    #projects {
        height: auto;
    }
    .top1,
    .top2,
    .top3 {
        height: 120vh;
    }
    #team {
        height: 2000px;
    }
    #blog {
        height: 1690px;
        padding-left: 30px;
    }
    #blog .rowb {
        width: 45vw;
    }
    #contact .colc {
        margin-top: 30px;
        left: 0
    }
    #pricing {
        margin: 4px;
    }
    #pricing .rowp {
        margin-left: 12px;
    }
    #contact .rowc {
        margin-left: 10px;
    }
    .imagebox {
        margin-left: 130px;
    }
    footer .rowf,
    #team .rowt {
        margin-left: 0px;
    }
    #testimonial-carousel .message {
        margin-left: 100px;
    }
    .navbar-nav {
        width: 90vw;
        margin-top: 20px;
    }
}